* {
  padding: 0;
  margin: 0;
}
#Navbar {
  display: flex;
  background-color: darkblue;
  color: rgb(221, 205, 205);
  align-items:center;
  padding-inline:10px;
}
li {
  list-style: none;
  float: left;
}
#nav_links li a { 
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: aliceblue;
  text-decoration: none;
}
#sublist li {
  display: block;
}
.hide1 {
  display: none;
}
